.header {
}
img{
   width: 122px;
   height: 130px;
}
.header__img {
   width: 122px;
   height: 130px;
}
.header__about {
}
.header__name {
}
.header__specialization {
}
.header__contacts {
}
.contacts {
}
.contacts__number {
}
.contacts__email {
}
.contacts__github {
}