.button{
   text-decoration: none;
   color: black;
   width: 300px;
   height: 150px;
   display: block;
   border: 1px solid #000;
   white-space: nowrap;
   overflow: hidden;
   background-color: antiquewhite;
   text-overflow: ellipsis;
}